<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>

	<h2> Hello <%= @user.first_name %>, this is Weather or Not.</h2>

<!-- logout -->
	<form method="POST" action="/session">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
		<input name="_method" value="DELETE" type="hidden">
		<button>Logout</button>
	</form>

<!-- shows current weather -->
	It is <%= @weather_lookup.temperature %> degrees in New York City!
	<%= image_tag @weather_lookup.icon %>
	<%=  @weather_lookup.weekday_name %>

<!-- week -->
<br>
	<%=@weather_lookup.day_one %> : <%= @weather_lookup.day_one_condition %>
<br>
	<%=@weather_lookup.day_two %> : <%= @weather_lookup.day_two_condition %>
<br>
	<%=@weather_lookup.day_three %> : <%= @weather_lookup.day_three_condition %>
<br>
	<%=@weather_lookup.day_four %> : <%= @weather_lookup.day_four_condition %>
<br>
	<%=@weather_lookup.day_five %> : <%= @weather_lookup.day_five_condition %>
<br>
	<%=@weather_lookup.day_six %> : <%= @weather_lookup.day_six_condition %>
<br>
	<%=@weather_lookup.day_seven %> : <%= @weather_lookup.day_seven_condition %>

<br>
<br>

<!-- make this search via zip code -->
	<input name="text" placeholder="Zip Code">
	<button> Search </button> 
	
</body>
</html>