<!-- shows current weather -->
Current:
<br>
	It is <%= @weather_lookup.temperature %> degrees in <%= @weather_lookup.city %>, <%= @weather_lookup.state %>!
	<%= image_tag @weather_lookup.icon %>
	<%=  @weather_lookup.weekday_name %>
	Rain? <% @weather_lookup.chance_of_rain %> 

<!-- testing logic for clothes according to weather -->
	<% if @weather_lookup.temperature < "40" %>
		<p> put on a jacket </p>
	<% else %>
		<p> TEST </p>
	<% end %>

	<% if @weather_lookup.chance_of_rain = "0" %>
		<p> BRING A FUCKING UMBRELLA </p>
	<% else %>
		<p> No Umbrella needed </p>
	<% end %>

	<% if @weather_lookup.uvi = "0" %>
		<p> WEARING FUCKING SUNGLASSES</p>
	<% else %>
		<p> No sunglasses needed </p>
	<% end %>

	<% if @weather_lookup.chance_of_rain = "0" %>
		<p> IT'S GON SNOW</p>
	<% else %>
		<p> No snow </p>
	<% end %>	

<!--   -->
<br>
<br>

<!-- tomorrow's weather -->
Tomorrow:
<br>
	<%= @weather_lookup.tomorrow %> <br>
	<%= @weather_lookup.tomorrow_condition %>

<!-- logic for clothes according to weather -->
	<% if @weather_lookup.temperature < "40" %>
		<p> put on a jacket </p>
	<% else %>
		<p> TEST </p>
	<% end %>

	<% if @weather_lookup.chance_of_rain = "0" %>
		<p> BRING A FUCKING UMBRELLA </p>
	<% else %>
		<p> No Umbrella needed </p>
	<% end %>

	<% if @weather_lookup.uvi = "0" %>
		<p> WEARING FUCKING SUNGLASSES</p>
	<% else %>
		<p> No sunglasses needed </p>
	<% end %>

	<% if @weather_lookup.chance_of_rain = "0" %>
		<p> IT'S GON SNOW</p>
	<% else %>
		<p> No snow </p>
	<% end %>	
<br>
<br>

<!-- week -->
<br>
	<%=@weather_lookup.day_one %> : <%= @weather_lookup.day_one_condition %>
<br>
	<%=@weather_lookup.day_two %> : <%= @weather_lookup.day_two_condition %>
<br>
	<%=@weather_lookup.day_three %> : <%= @weather_lookup.day_three_condition %>
<br>
	<%=@weather_lookup.day_four %> : <%= @weather_lookup.day_four_condition %>
<br>
	<%=@weather_lookup.day_five %> : <%= @weather_lookup.day_five_condition %>
<br>
	<%=@weather_lookup.day_six %> : <%= @weather_lookup.day_six_condition %>
<br>
	<%=@weather_lookup.day_seven %> : <%= @weather_lookup.day_seven_condition %>

<br>
<br>